In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv('profiles.csv')
df2 = pd.read_csv('profiles.csv')

In [3]:
#finds which features have nans
df.isna().any()

age            False
body_type       True
diet            True
drinks          True
drugs           True
education       True
essay0          True
essay1          True
essay2          True
essay3          True
essay4          True
essay5          True
essay6          True
essay7          True
essay8          True
essay9          True
ethnicity       True
height          True
income         False
job             True
last_online    False
location       False
offspring       True
orientation    False
pets            True
religion        True
sex            False
sign            True
smokes          True
speaks          True
status         False
dtype: bool

In [4]:
#replaces nans with '0'
df.fillna({'age':'0',
           'body_type':'0',
           'diet':'0',
           'drugs':'0',
           'education':'0',
           'essay1':'0',
          'essay2':'0',
          'essay3':'0',
          'essay4':'0',
          'essay5':'0',
          'essay6':'0',
          'essay7':'0',
          'essay8':'0',
          'essay9':'0',
          'ethnicity':'0',
          'height':'0',
          'job':'0',
          'offspring':'0',
          'sign':'0',
          'pets':'0',
          'religion':'0',
          'smokes':'0',
           'speaks':'0',
           'drinks':'0',
          'essay0':'0'},
          inplace=True)

In [5]:
# check to make sure there's no more nans
df.isna().any()

age            False
body_type      False
diet           False
drinks         False
drugs          False
education      False
essay0         False
essay1         False
essay2         False
essay3         False
essay4         False
essay5         False
essay6         False
essay7         False
essay8         False
essay9         False
ethnicity      False
height         False
income         False
job            False
last_online    False
location       False
offspring      False
orientation    False
pets           False
religion       False
sex            False
sign           False
smokes         False
speaks         False
status         False
dtype: bool

In [6]:
sex_map = {'0': 0,
           'm': 1,
           'f': 2}
orientation_map = {'0': 0,
                   'straight': 1,
                   'gay': 2,
                   'bisexual': 3}

offspring_map = {'0': 0,
                 'doesn&rsquo;t have kids': 1,
                 'doesn&rsquo;t have kids, but might want them': 2,
                 'doesn&rsquo;t have kids, but wants them': 3,
                 'doesn&rsquo;t want kids': 4, 
                 'has kids': 5,
                 'has a kid': 6,
                 'doesn&rsquo;t have kids, and doesn&rsquo;t want any': 7,
                 'has kids, but doesn&rsquo;t want more': 8,
                 'has a kid, but doesn&rsquo;t want more': 9,
                 'wants kids': 10,
                 'might want kids': 11, 
                 'has kids, and might want more': 12,
                 'has a kid, and wants more': 13,
                 'has kids, and wants more': 14}

smokes_map = {'0': 0, 
              'no': 1,
              'sometimes': 2, 
              'when drinking': 3,
              'yes': 4,
              'trying to quit': 5}

drugs_map = {'0': 0,
             'never': 1, 
             'sometimes': 2, 
             'often': 3}

drinks_map = {'0': 0, 
             'not at all': 1,
             'rarely': 2, 
             'socially': 3,
             'often': 4, 
             'very often': 5, 
             'desperately': 6}

diet_map = {'0': 0,
            'mostly anything': 1, 
            'anything': 2,
            'strictly anything': 3, 
            'mostly vegetarian': 4, 
            'mostly other': 5,
            'strictly vegetarian': 6, 
            'vegetarian': 7, 
            'strictly other': 8,
            'mostly vegan': 9, 
            'other': 10,
            'strictly vegan': 11,
            'vegan': 12,
            'mostly kosher': 13,
            'mostly halal': 14,
            'strictly kosher': 15,
            'strictly halal': 16, 
            'halal': 17, 
            'kosher': 18}

body_type_map = {'0': 0, 
                 'average': 1, 
                 'fit': 2, 
                 'athletic': 3,
                 'thin': 4,
                 'curvy': 5,
                 'a little extra': 6, 
                 'skinny': 7, 
                 'full figured': 8,
                 'overweight': 9,
                 'jacked': 10,
                 'used up': 11,
                 'rather not say': 12}

ethnicity_map = {'0': 0,
                 'white': 1,
                 'asian': 2,
                 'hispanic / latin': 3,
                 'black': 4,
                 'asian, pacific islander': 5,
                 'hispanic / latin, white': 6,
                 'indian': 7,
                 'asian, white': 8,
                 'white, other': 9,
                 'pacific islander': 10,
                 'other': 11}

education_map = {'0': 0,
                 'graduated from college/university': 1,
                 'graduated from masters program': 2,
                 'working on college/university': 3,
                 'working on masters program': 4,
                 'graduated from two-year college': 5,
                 'graduated from high school': 6,
                 'graduated from ph.d program': 7,
                 'graduated from law school': 8,
                 'working on two-year college': 9,
                 'dropped out of college/university': 10}
job_map = {'0': 0, 
           'other': 1,
           'student': 2,
           'science / tech / engineering': 3,
           'computer / hardware / software': 4,
           'artistic / musical / writer': 5,
           'sales / marketing / biz dev': 6,
           'medicine / health': 7,
           'education / academia': 8,
           'executive / management': 9,
           'banking / financial / real estate': 10,
           'entertainment / media': 11,
           'law / legal services': 12,
           'hospitality / travel': 13,
           'construction / craftsmanship': 14}

df['sex_label'] = df.sex.map(sex_map)
df['orientation_label'] = df.orientation.map(orientation_map)
df['offspring_label'] = df.offspring.map(offspring_map)
df['smokes_label'] = df.smokes.map(smokes_map)
df['drink_label'] = df.drinks.map(drinks_map)
df['drugs_label'] = df.drugs.map(drugs_map)
df['diet_label'] = df.diet.map(diet_map)
df['body_type_label'] = df.body_type.map(body_type_map)
df['ethnicity_label'] = df.ethnicity.map(ethnicity_map)
df['education_label'] = df.education.map(education_map)
df['job_label'] = df.job.map(job_map)

In [7]:
#Create labels for each person by age range
df.loc[df['age'] == 0, 'age_label'] = 0
df.loc[(df['age'] >= 18) & (df['age'] <= 21), 'age_label'] = 1
df.loc[(df['age'] >= 22) & (df['age'] <= 29), 'age_label'] = 2
df.loc[(df['age'] >= 30) & (df['age'] <= 39), 'age_label'] = 3
df.loc[(df['age'] >= 40) & (df['age'] <= 49), 'age_label'] = 4
df.loc[(df['age'] >= 50) & (df['age'] <= 59), 'age_label'] = 5
df.loc[(df['age'] >= 60) & (df['age'] <= 69), 'age_label'] = 6
df.loc[(df['age'] >= 70) & (df['age'] <= 79), 'age_label'] = 7
df.loc[(df['age'] >= 80) & (df['age'] <= 89), 'age_label'] = 8
df.loc[(df['age'] >= 90) & (df['age'] <= 99), 'age_label'] = 9

#convert df['height] dtype from object to int64
df.replace([np.inf, -np.inf], np.nan).dropna(subset=["height"], how="all")

df['height'] = df.height.astype(int)

#Create labels for each person height by height range
df.loc[df['height'] == 0, 'height_label'] = 0
df.loc[(df['height'] >= 1) & (df['height'] <= 60), 'height_label'] = 1
df.loc[(df['height'] >= 61) & (df['height'] <= 62), 'height_label'] = 2
df.loc[(df['height'] >= 63) & (df['height'] <= 64), 'height_label'] = 3
df.loc[(df['height'] >= 65) & (df['height'] <= 66), 'height_label'] = 4
df.loc[(df['height'] >= 67) & (df['height'] <= 68), 'height_label'] = 5
df.loc[(df['height'] >= 69) & (df['height'] <= 70), 'height_label'] = 6
df.loc[(df['height'] >= 71) & (df['height'] <= 72), 'height_label'] = 7
df.loc[(df['height'] >= 73) & (df['height'] <= 74), 'height_label'] = 8
df.loc[(df['height'] >= 75) & (df['height'] <= 76), 'height_label'] = 9
df.loc[(df['height'] >= 77) & (df['height'] <= 78), 'height_label'] = 10
df.loc[(df['height'] >= 79) & (df['height'] <= 80), 'height_label'] = 11
df.loc[(df['height'] >= 81) & (df['height'] <= 82), 'height_label'] = 12
df.loc[(df['height'] >= 83) & (df['height'] <= 84), 'height_label'] = 13

In [8]:
#fill nans with 0's. (have nans again because didn't map all options in features)
df.fillna({'offspring_label': 0,
           'ethnicity_label':0,
           'education_label': 0 ,
           'job_label': 0,
           'age_label': 0,
           'height_label': 0}, inplace = True)

In [9]:
df.isna().any()

age                  False
body_type            False
diet                 False
drinks               False
drugs                False
education            False
essay0               False
essay1               False
essay2               False
essay3               False
essay4               False
essay5               False
essay6               False
essay7               False
essay8               False
essay9               False
ethnicity            False
height               False
income               False
job                  False
last_online          False
location             False
offspring            False
orientation          False
pets                 False
religion             False
sex                  False
sign                 False
smokes               False
speaks               False
status               False
sex_label            False
orientation_label    False
offspring_label      False
smokes_label         False
drink_label          False
drugs_label          False
diet_label           False
body_type_label      False
ethnicity_label      False
education_label      False
job_label            False
age_label            False
height_label         False
dtype: bool

In [10]:
df.head(1)

,age,body_type,diet,drinks,drugs,education,essay0,essay1,essay2,essay3,...,smokes_label,drink_label,drugs_label,diet_label,body_type_label,ethnicity_label,education_label,job_label,age_label,height_label
0,22,a little extra,strictly anything,socially,never,working on college/university,about me:<br />\n<br />\ni would love to think...,currently working as an international agent fo...,making people laugh.<br />\nranting about a go...,"the way i look. i am a six foot half asian, ha...",...,2,3,1,3,6,8.0,3.0,0.0,2.0,9.0

In [11]:
df = df[['sex_label','orientation_label', 'age_label', 'offspring_label', 'smokes_label', 'drink_label',
       'drugs_label', 'diet_label', 'body_type_label', 'height_label', 'ethnicity_label',
       'education_label', 'job_label']]

In [12]:
data = df.values
labels = list(range(0,59946))

In [13]:
#split data

from sklearn.model_selection import train_test_split

train_data, test_data, train_labels, test_labels = train_test_split(data, labels, test_size = 0.2, random_state = 1)

In [14]:
from sklearn.neighbors import KNeighborsClassifier

In [15]:
model = KNeighborsClassifier(n_neighbors = 5)

In [16]:
model.fit(train_data, train_labels)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [41]:
profile_label =  [[1, 1, 2, 2, 2, 3, 1, 3, 6, 9, 8, 3, 0]]
#create copy of df to use for displaying matches
df2 = pd.read_csv('profiles.csv')

predict = model.predict(profile_label)

print(predict)
#shows closest profiles to input (indexes) and the distance
matches = model.kneighbors(profile_label)

#selects only the distance from matches
matches_dist = matches[0]

#selects only indexes from matches
matches_indexes = matches[1]

#Takes indexes out of outer brackets
matches_indiv = matches_indexes[0]

#selects individual match index
match = matches_indiv[0]

#shows profile descriptions of matches
for i in matches_indexes:
    df2 = df2.loc[i]

df2

[0]

,age,body_type,diet,drinks,drugs,education,essay0,essay1,essay2,essay3,...,location,offspring,orientation,pets,religion,sex,sign,smokes,speaks,status
23900,31,used up,NaN,very often,sometimes,dropped out of med school,i moved here a couple of years ago from the mi...,boring science shit.<br />\nplaying drums in a...,driving a stick and parallel parking.<br />\nd...,"usually tattoos, unless i've got them covered ...",...,"oakland, california",doesn&rsquo;t have kids,straight,likes dogs and has cats,atheism,f,NaN,no,english,single
17414,36,average,NaN,socially,never,graduated from college/university,the feature that captures my attention is a ni...,NaN,NaN,my eyes or height.,...,"hayward, california",NaN,straight,NaN,NaN,m,libra,yes,english (fluently),single
23590,42,fit,strictly anything,not at all,never,graduated from college/university,new profile alert: still fleshing it out...but...,"when i'm not rubbing strangers for money, i'm ...",pleasure. empathy. insight. honesty. silliness...,how the fuck do i know?,...,"san francisco, california",doesn&rsquo;t have kids,gay,NaN,buddhism but not too serious about it,m,virgo and it&rsquo;s fun to think about,no,english (fluently),single
44865,41,NaN,NaN,rarely,never,graduated from college/university,i recently moved to the bay area from seattle ...,i really enjoy the things that are coming out ...,analysis of things/systems/people perhaps? sin...,that i am smart perhaps...<br />\n<br />\nit's...,...,"oakland, california",NaN,straight,NaN,other and laughing about it,f,leo,no,"english (fluently), german (poorly)",single
26701,29,NaN,NaN,socially,NaN,NaN,NaN,"design. cutting stuff up, gluing it together, ...","spatial relationships, directions, road trips,...",the only thing people tell me consistently is ...,...,"san francisco, california",NaN,straight,NaN,NaN,f,scorpio,NaN,english,single